.leftContainer *{
    color: rgb(1, 27, 27);
}
 
.leftContainer{
    /* border: 1px solid black; */
    background: #f4f6ff;
    padding: 10px;
    overflow: scroll; 

}

.inputContainer{
    /* border: 1px solid blue; */
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.inputPlace{ 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding: 5px;
}

.inputPlace .place-input{
    width: 350px;
    height: 40px;
    margin: 0;
    padding-left: 15px;
    border-radius: 15px;
    border: none
}

.inputPlace .InputaddBtn{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 20px; 
    background-color:#3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
}


.AiPlaces{
    border: 1px solid #3f51b5;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

    
.maps .map-link{
    border: 1px solid rgba(4, 6, 55, 0.756); 
    margin: 0;
    padding: 0;
    border-radius: 4px;

}