.AIcontainer{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.AIcontainer .list-header{
    border: 1px solid transparent;
}

.AIcontainer .list-card{
    border: 1px solid transparent;
    display: flex;
    gap: 5px;
    padding: 10px; 
    overflow-x: scroll;
    height: 100px;

}

.list-card .places{ 
    height: 50px;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    align-content: center;
    justify-items: center; 
    justify-content: center;

}

.list-card .places span{
    /* border: 1px solid pink; */
    margin: 0;
    font-size: 15px;   
    width: 150px;
}

.list-card .places button{  
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px; 
    background-color:#3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
}

 ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.page-loader{
    height: 50px !important;
}
 