# ===========================
# Node / Backend
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log.txt

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
temp/
tmp/

# Coverage
coverage/

# PM2 logs
.pids
*.pid
*.seed
*.pid.lock

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===========================
# React / Frontend
# ===========================
# dependencies
/frontend/node_modules/

# production build
/frontend/build/

# misc
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# cache
/frontend/.cache/
