/* CONTAINER */
.explore-container {
  width: 100%;
  min-height: 100vh; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* HERO SECTION */
.hero-section {
  width: 100%;
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7) saturate(1.4);
  border-radius: 0 0 30px 30px;
  animation: fadeIn 1.5s ease;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: white;
  animation: slideUp 1.2s ease;
}

.hero-text h1 {
  font-size: 3.2rem;
  font-weight: 800;
  text-shadow: 0 4px 10px rgba(0,0,0,0.3);
  color: white !important;
}

.hero-text p {
  font-size: 1.3rem;
  margin-top: 10px;
  opacity: 0.9;
  font-weight: 500;
}

/* ANIMATIONS */
@keyframes slideUp {
  0% { transform: translateY(40px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
