.chats {
    max-width: 90%;
    overflow-y: scroll; 
    margin-top: 120px;
    /* border: 1px solid red; */ 
}

.newChatHeader{
    color: #323232 !important;
    margin-top: 120px;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    margin-right: 10px;
}

.userDiv p{
    background-color: antiquewhite;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px !important;
}

.gptDiv h1,h2,h3,h4,h5{
    color: rgb(1, 35, 35);
}
 

.gptDiv table tbody{ 
    margin: 50px !important;
    color: rgb(6, 22, 58);
    /* border: 1px solid red; */ 

}

.gptDiv table th{ 
    margin: 50px !important;
    color: rgb(3, 2, 36);
    /* border: 1px solid red; */ 

}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}