.page-container {
  padding: 20px;
  margin-bottom: 50px;
  /* border: 1px solid green;   */
  display: flex;
  flex-direction: column;
}


/* SAVED TITLE */
.saved-title {
  margin-top: 90px; 
  display: flex;
  gap: 20px;
  color: #3f51b5;
}

.saved-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #3f51b5;
}
 

.trip-grid {
  /* border: 1px solid blue; */
  margin-top: 50px;
  display: grid;
  align-items: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; 
}

@media (min-width: 200px) {
  .trip-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablets */
@media (min-width: 600px) {
  .trip-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Laptops / Desktops */
@media (min-width: 1024px) {
  .trip-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}



/* Trip Card General */
.trip-card { 
  width: 220px;
  height: 240px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border: 1px solid #f0f0f0; 
}

.trip-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.trip-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.trip-info {
  padding: 10px;
  gap: 5px;
}

.trip-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.trip-info p {
  margin: 4px 0;
  font-size: 13px;
  color: #555;
}

.fa-trash-can{
  color: red;
  margin: 10px;
}

.fa-trash-can:hover{
  color: rgb(221, 117, 117); 
}

/* Create New Trip Card */
.new-trip { 
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  justify-content: center;
  align-items: center;
  border: 2px dashed #bbb;
}

.new-trip:hover {
  background: #e8e8e8;
}

.plus-sign {
  font-size: 40px;
  font-weight: bold;
}

.noTrip{ 
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ff6f61; 
  font-weight: bolder;
}