.NavContainerParent{
  position: fixed; 
  z-index: 1000;
}
 
 .NavContainer{ 
  backdrop-filter: blur(8px); 
  box-shadow: 0px 1px #00000016;
  background-color: transparent;
  z-index: 1000;

}

.navAuth, .navHome {
  top: 0;
  width: 100vw;
  height: 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
  transition: 0.4s, box-shadow 0.4s; 
  /* position: relative;   */
}

.navAuth, .navHome .navLogo {
  font-size: 22px;
  font-weight: bold;
  color:#000000;
  transition: color 0.4s;
}
 
.navAuth .navLogo span, .navHome .navLogo span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color:#000000;
  transition: color 0.4s;
} 

.navAuth ul, .navHome ul {
  list-style: none;
  display: flex;
  gap: 25px;  
  margin-right: 60px;
}

.navAuth ul li a, .navHome ul li a{
  text-decoration: none;
  color:#000000;
  font-weight: 300;
  font-size: 20px;
  transition: color 0.3s;  
}
 
.navAuth ul li a:hover, .navHome ul li a:hover{
  /* text-decoration:underline; */
  color: #3b0f8e;
  font-weight: 400;


}

.navAuth ul .logout-btn{
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0; 
  background-color: #3f51b5;
  border: none;
  color: white;
}

.navAuth .menu-icon, .navHome .menu-icon {
  display: none;
}

.navAuth ul.active, .navHome ul.active {
    left: 0;
    opacity: 1;
    z-index: 999;
    color: #3b0f8e;
}
  
@media screen and (max-width: 960px) {

.navAuth, .navHome {
    padding: 15px 20px; /* Adjust padding for smaller screens */
    position: relative; /* Crucial for absolute positioning of the menu */
}

.navAuth .menu-icon , .navHome .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #1b1f3b;
    margin-right: 50px;
}

.navAuth ul, .navHome ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh; /* Takes up most of the screen height */
    position: absolute;
    top: 70px; /* Pushes it below the navbar height */
    left: -100%; /* Hides it off-screen to the left */
    opacity: 1;
    transition: all 0.5s ease;
    background: rgb(210, 210, 238); /* Match navbar color */
    padding-top: 20px;
    gap: 0; /* Remove gap, handle spacing with padding */
}

  /* The Active class slides the menu in */
.navAuth ul.active, .navHome ul.active {
    left: 0;
    opacity: 1;
    z-index: 999;
    color: #3b0f8e;
}

  /* Styling individual list items for mobile */
.navAuth ul li, .navHome ul li {
    width: 100%;
    text-align: center;
  }

.navAuth ul li a, .navHome ul li a {
    display: table;
    width: 100%;
    padding: 2rem 0;
    font-size: 1.2rem;
}
  
.navAuth ul li:hover , .navHome ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
 